ul.star-rating
    li.star-rating__item
        img.star-rating__img(src=require("./images/star.svg") alt="star") 
    li.star-rating__item
        img.star-rating__img(src=require("./images/star.svg") alt="star") 
    li.star-rating__item
        img.star-rating__img(src=require("./images/star.svg") alt="star") 
    li.star-rating__item
        img.star-rating__img(src=require("./images/star.svg") alt="star") 
    li.star-rating__item 
        img.star-rating__img(src=require("./images/star.svg") alt="star") 