footer.footer
  .footer__inner
    .container-large
      .container
        .footer__top
          .footer__info
            a.footer__logo
              img.footer__logo-img(src=require("./images/logo.png") alt='logo')
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          .footer__columns
            ul.footer__list
              li.footer__list-item.footer__list-title
                a.footer__list-link(href='#') навигация
              li.footer__list-item
                a.footer__list-link(href='#') О нас
              li.footer__list-item
                a.footer__list-link(href='#') Новости
              li.footer__list-item
                a.footer__list-link(href='#') Служба поддержки
              li.footer__list-item
                a.footer__list-link(href='#') Услуги
            ul.footer__list
              li.footer__list-item.footer__list-title
                a.footer__list-link(href='#') о нас
              li.footer__list-item
                a.footer__list-link(href='#') О сервисе
              li.footer__list-item
                a.footer__list-link(href='#') Наша команда
              li.footer__list-item
                a.footer__list-link(href='#') Вакансии
              li.footer__list-item
                a.footer__list-link(href='#') Инвесторы
            ul.footer__list
              li.footer__list-item.footer__list-title
                a.footer__list-link(href='#') Служба поддержки
              li.footer__list-item
                a.footer__list-link(href='#') Соглашения
              li.footer__list-item
                a.footer__list-link(href='#') Сообщества
              li.footer__list-item
                a.footer__list-link(href='#') Связь с нами
          .footer__form
            p.footer__form-title Подписка
            p.footer__form-text Получайте специальные предложения и новости сервиса
            label.footer__form-box
              input.footer__form-input(placeholder='Email' type='email' name='email-submit')
              button.footer__form-btn(type="submit")
                img.footer__form-btn-img(src=require("./images/arrow-forward.svg") alt='submit')
    .footer__bottom
      .container
        .footer__bottom-inner 
          p.footer__copy Copyright © 2018 Toxin отель. Все права защищены.
          ul.footer__social
            li.footer__social-item
              a.footer__social-link(href='#')
                img.footer__social-img(src=require("./images/twitter-icon.svg") alt='twitter')
            li.footer__social-item
              a.footer__social-link(href='#')
                img.footer__social-img(src=require("./images/facebook-icon.svg") alt='facebook')
            li.footer__social-item
              a.footer__social-link(href='#')
                img.footer__social-img(src=require("./images/instagram-icon.svg") alt='instagram')