include ../star-rating/_star-rating.pug

mixin room-item(number,status, price, rewiews, rating, img)
    .room-item__inner
        .swiper
            .swiper-wrapper
                .swiper-slide.room-item__slider-item
                    a.room-item__slider-link(href="#")
                        img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
                .swiper-slide.room-item__slider-item
                    a.room-item__slider-link(href="#")
                        img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
                .swiper-slide.room-item__slider-item
                    a.room-item__slider-link(href="#")
                        img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
                .swiper-slide.room-item__slider-item
                    a.room-item__slider-link(href="#")
                         img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
        //- .room-item__slider
        //-     .room-item__slider-item
        //-         a.room-item__slider-link(href="#")
        //-             img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
        //-     .room-item__slider-item
        //-         a.room-item__slider-link(href="#")
        //-             img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
        //-     .room-item__slider-item
        //-         a.room-item__slider-link(href="#")
        //-             img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
        //-     .room-item__slider-item
        //-         a.room-item__slider-link(href="#")
        //-             img.room-item__slider-img(src=require(`./components/room-item/images/image-${img}.jpg`) alt=`image-${img}`)
        .room-item__box
            .room-item__info
                .room-item__info-left
                    a.room-item__number(href="#") № 
                        span= number
                    a.room-item__status(href="#")= status
                .room-item__info-right
                    a.room-item__price(href="#")=price + "₽"
                        span в сутки
            .room-item__social
                +star-rating(rating)
                a.room-item__rewiews(href="#")= rewiews
                    span отзывов
